# Build directories
cmake-build-*/
build/
out/

# IDE
.idea/
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Executables
*.exe
*.out
*.app

# OS
.DS_Store
Thumbs.db